<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DbConn" connectionString="Data Source=LAPTOP-QNPDC1I4\SQLEXPRESS;Initial Catalog=MyDataBase;Persist Security Info=True;User ID=sa;Password=test123"/>
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
